body{  /*set default values for webpage*/
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-align: center;
  background-color: black;
}

a{  /*set values for html anchors*/
  color: seashell;
}


header {  /*set values for header*/
  width: 100%;
  height: 69px;
  background-color: black;
  border-bottom: 1px solid seashell;
  top: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  z-index: 2;
}

#first-head{  /*set values store name*/
  font-family: "Edwardian Script ITC";
  font-size: : 50px;
  margin-left: 10px;
}

nav{  /*set margin for navigation block*/
  margin-right: 10px;
}


li{  /*style navigation items*/
  display: inline-flex;
  justify-content: space-between;
  padding: 10px;
  height: 50px;
}

.surface{  /*style first section below header - mission*/
  height: 700px;
  width: 1200px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  position: relative;
  top: 43px;
  margin-left: auto;
  margin-right: auto;

  }

.intro{
  background-color: black;
  position: relative;
  top: 300px;
  align-items: center;
}


.make-bold{
  font-weight: 1000;
}
.tea-header{  /*style the list of featured teas*/
  width: 1000px;
  background-color: black;
  position: relative;
  top: 39px;
  margin-left: auto;
  margin-right: auto;
  /*justify-content: space-between;*/
}

.tea-images{  /*style tea images container*/
  width: 1000px;
  height: 700px;
  background-color: black;
  position: relative;
  top: 17px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  /*align-items: flex-start;*/
}

.each-tea{  /*style each tea image block*/
  height: 200px;
  width: 300px;
  margin: 10px;


}

img {  /*set size of each image*/
    max-width: 100%;
    height: auto;
}

span{  /*change span from inline to block */
  display: block;
}

.location{  /*set size and backgroung image for locations*/
  width: 1200px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");

}

.all-locations{  /*style the location container*/
  display: flex;
  justify-content: center;
}

.each-location{  /*style each location block*/
  width: 300px;
  height: 300px;
  margin: 15px 20px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.footing{  /*style the footing*/
background-color: black;
}

#copyright{  /*style the copyright line*/
  text-align: left;
  margin-left: 20px;
}
